.element__like {
  display: inline-block;
  background-image: url('../../../images/heart.svg');
  width: 22px;
  height: 19px;
  background-size: cover;
  align-self: center;
  border: none;
  background-color: transparent;
}
.element__like:hover {
  opacity: 0.5;
}
