.form__text-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  border: 0;
  padding: 0 0 13px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-top: 30px;
  width: 100%;
}

.form__text-input:first-of-type {
  margin-top: 54px;
}

@media screen and (max-width:600px) {
  .form__text-input:first-of-type {
    margin-top: 75px;
  }
}
